.card-section-cont {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.card-section-cont .card-real-txt {
  position: absolute;
  top: -80px;
  font-size: 20px;
  font-weight: 800;
  background-color: #f4f4f2;
  width: 1100px;
  padding: 20px;
  border-radius: 5px;
}

.card-section-cont .card-item-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-section-cont .card-item-cont figure {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.card-section-cont .card-item-cont figure img {
  width: 260px;
  height: auto;
}

.card-section-cont .arrow-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 40px 0;
}

.card-section-cont .arrow-nav a {
  text-decoration: none;
  font-size: 22px;
}

.footer-cont {
  width: 100vw;
}

.footer-cont .footer-others {
  background-color: #2C2A29;
}

.footer-cont .footer-others .others-wrapper {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.footer-cont .footer-others .others-wrapper ul {
  padding: 30px;
}

.footer-cont .footer-others .others-wrapper ul a {
  font-weight: 300;
  color: white;
  font-size: 13px;
}

.footer-cont .footer-others .others-wrapper ul strong > a {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 800;
}

.footer-cont .footer-awards {
  background-color: #282828;
}

.footer-cont .footer-awards .awards-wrapper {
  padding: 20px;
}

.footer-cont .footer-awards .awards-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-cont .footer-info {
  padding-top: 30px;
  background-color: #2C2A29;
}

.footer-cont .footer-info .foot-info-wrapper .foot-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
}

.footer-cont .footer-info .foot-info-wrapper .foot-terms .first-deco {
  color: #00b050;
}

.footer-cont .footer-info .foot-info-wrapper .foot-terms a {
  color: #a7a4a4;
  font-size: 11px;
  word-spacing: -5px;
  font-weight: 800;
}

.footer-cont .footer-info .foot-info-wrapper .foot-terms li::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  border-right: 1px solid gray;
  margin: 0 10px;
}

.footer-cont .footer-info .foot-info-wrapper .foot-terms li:last-child::after {
  content: '';
  display: none;
}

.footer-cont .footer-info .foot-info-wrapper .foot-maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-cont .footer-info .foot-info-wrapper .foot-maps li {
  width: 130px;
  margin: 30px 10px;
  padding: 8px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
}

.footer-cont .footer-info .foot-info-wrapper .foot-maps li a {
  color: white;
  font-size: 13px;
}

.footer-cont .footer-info .foot-info-wrapper .addre {
  color: #999;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.footer-cont .footer-info .foot-info-wrapper small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999;
  font-size: 11px;
  text-align: center;
  padding-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */