/* util */
.sr-only {
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}

input, button, a, label{
    cursor: pointer;
}



* {
    font-family: 'NanumBarunGothic', sans-serif;
    box-sizing: border-box;
}
body{
    font-family: 'NanumBarunGothic', sans-serif;
}

a {
    text-decoration: none;
    color: #006633;
    font-weight: 400;
    font-size: 13px;
}
/* //util */

/* header 시작 */



.header {
    height: 120px;
    width: 100vw;
    position: fixed;
    background-color : #f6f5ef;
    top:0;
    z-index: 100;
    border-top: 2px solid black;
}

.header-wrapper {
    position: relative;
    height: 120px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 200;

}

.header-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

.info-cont {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    margin-right: 100px;
    position: relative;
}
.info-cont .info-items {
    margin: 0 5px;
    color: #666;
    clear: both;

}
/* .info-cont .search {

} */
.info-cont li>a:after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 13px;
    border-right: 1px solid rgb(206, 203, 203);
    margin-left: 10px;
}

.info-cont li:nth-child(n+4)>a:after
{
    content: '';
    display: none;
}

.search-input {
    display: none;
}
.search-input.on{
    position: absolute;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

.search-btn {
    background-color: white;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 5px;
    padding: 5px;
    transform: translateY(-5px);
}

.search-btn.on {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: white;
    border: none;
    padding: 5px;
    transform: translateY(0);
}

.search-cont {
    display: inline-block;
}
.search-cont.on {
    width: 200px;
    height: 30px;
    position: relative;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 5px;
    background-color: white;
    transform: translateY(-5px);
}





.nav-cont {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}
.nav-cont .nav-items {

    text-align: center;
    line-height: 0px;
    padding:  20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.nav-cont .nav-items a {
    font-size: 13px;
    color: #666;
    font-weight: 500;
    
}
.nav-cont .nav-items:hover {
    text-decoration: underline;
}

.nav-cont .nav-items:hover .ancho
, .nav-cont .nav-items:hover{
    background-color: #2c2a29;
    color: #669900;
}


/* dropdonw-nav 작성 */


.nav-cont .nav-items .sub-nav-items {
    top: 120px;
    left: 0;
    width: 100%;
    /* dropdown-bar 이미지 깨짐 방지 */
    min-width: 800px;
    display: none;
    position: fixed;
    justify-content: space-between;
    background-color: #2c2a29;
    z-index: 100;
}

.nav-cont .nav-items:hover .sub-nav-items{
    display: flex;
    width: 100vw;
}
.sub-nav-items-cont {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-cont .nav-items:hover .sub-nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    height: 100%;
    margin-right: 40px;
}

.sub-nav-items ul li {
    display: flex;
    height: 20px;
    color: #999999;
}

.sub-nav-items .sub-nav-items-cont ul li a{
    color: #999999;
}
.sub-nav-items ul li:first-child a{
    color: #fff;
    font-size: 16px;

    /* line-height 는 negative: 를 지원하지 않습니다; */
}
.sub-nav-items ul li:first-child {
    display: block;
    height: 40px;
    text-align: start;
    margin-top: 10px;
}





/* //header 끝 */

/* main 시작 */


.card-top-cont {
    width: 1100px;
    margin: 0px auto;
    margin-bottom: 150px;
    position: relative;
    margin-top: 150px;
}

.card-header-cont {
    margin-bottom: 20px;
    position: relative;
}
.card-header-cont h2 {
    font-size: 30px;
    font-weight: 600;
    
}
.card-header-cont .card-nav {
    position: absolute;
    right: 0;
}

.select-section {
    border: 1px solid rgb(212, 211, 211);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
}
.select-section .select-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

/* 버튼 애니메이션 */
.slect-dropdown  {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 100;
}

.select-section .select-top .slect-dropdown.rotate {
    transform: rotate(180deg);
    transition: all ease 1s;
}

.select-section .select-top .slect-dropdown.rotate2 {
    transform: rotate(0deg);
    transition: all ease 1s;
} 


.select-section hr {
    margin-bottom:  20px;
}

.select-section .select-bottom.bottom-dropdown {
    display: none;
}

.select-section .select-bottom .btn-cont {
    margin-bottom: 20px;
}
.select-section .select-bottom .btn-cont button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-weight: 800;
    background-color: #f4f4f1;
    border:none;
    border-radius: 5px;
}
.select-section .select-bottom .btn-cont button.focus {
    background-color: #006633;
    color: #f4f4f1;
}

.card-top-cont .selet-option-btn {
    float: right;
  
}

.card-top-cont .selet-option-btn button {
    width: 230px;
    height: 40px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(212, 211, 211);
}